header{
    background-color: #f700ff;
    width: 75%;
    height: 200px;
    }
    footer{
    background-color: #00ff22da;
    width: 75%;
    height: 200px;
    }
    #table1{
        background-color: #00ccffda;
        width: 25%;
        height: 50px;
        }
        #table2{
            background-color: #2308c2da;
            width: 25%;
            height: 50px;
            }
            #table3{
                background-color: #00ff2ada;
                width: 25%;
                height: 50px;
                }
                #table4{
                    background-color: #d9ff00da;
                    width: 25%;
                    height: 50px;
                    }
                    #table5{
                        background-color: #ae00ffda;
                        width: 25%;
                        height: 50px;
                        }
                        #table6{
                            background-color: #ff0000da;
                            width: 25%;
                            height: 50px;
                            }
                            #table7{
                                background-color: #74a7b4;
                                width: 25%;
                                height: 50px;
                                }
                                #table8{
                                    background-color: #ff00bfda;
                                    width: 25%;
                                    height: 50px;
                                    }
                                    #table9{
                                        background-color: #ffbb00da;
                                        width: 25%;
                                        height: 50px;
                                        }
                                        #table10{
                                            background-color: #48ff00da;
                                            width: 25%;
                                            height: 50px;
                                            }
                                            #table11{
                                                background-color: #b3ff00da;
                                                width: 25%;
                                                height: 50px;
                                                }
                                                #table12{
                                                    background-color: #07343fda;
                                                    width: 25%;
                                                    height: 50px;
                                                    }
                                                    #table13{
                                                        background-color: #d0ff00da;
                                                        width: 25%;
                                                        height: 50px;
                                                        }
                                                        #table14{
                                                            background-color: #ae00ffda;
                                                            width: 25%;
                                                            height: 50px;
                                                            }
                                                            #table15{
                                                                background-color: #2bff00da;
                                                                width: 25%;
                                                                height: 50px;
                                                                }
                                                                #table16{
                                                                    background-color: #ffe600da;
                                                                    width: 25%;
                                                                    height: 50px;
                                                                    }

    